<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home assignment #23-24 for js</title>
	<link href="css/styles.css" rel="stylesheet" type="text/css" >
	<script data-main="dist/script.js" src="dist/lib/require.js" type="text/javascript"></script>
</head>
<body>
	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
			<h3 class="wrapper-header">My To Do List</h3>
			<div class="controlls">
				<input type="text" class="item-value">
				<button class="item-add">Add</button>
			</div>

			<ul class="item-list"></ul>
		</div>
	</script>

	<script type="text/template" id="list-template">
		<% for(var i = 0; i < data.length; i++){ %>
		<li>
			<div class="item-text">
				<%= data[i] %>
				<span data-value="<%= data[i] %>" class="item-delete"></span>
			</div>
		</li>
		<% }; %>
		<p>To edit the record - double-click the left mouse button on the field</p>
	</script>
	
</body>
</html>